/* You can add global styles to this file, and also import other style files */
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(226, 15, 121);
    display: flex;
    justify-content: center;
    opacity: 80%;
}

h2{
    color: burlywood;
}